<div class="page home">
  <div class="container">
    <div class="row ">
      <div class="col-md-6">
        <h2>
          <img class="mr-2" src="assets/svg/file.svg" alt="" width="50px" height="50px">
          Todo List App
        </h2>
      </div>
      <div class="col-md-6">
        <form class="mainform">
          <mat-form-field class="todoInput">
            <mat-label>Yeni yapılacak ekle</mat-label>
            <input matInput placeholder="" value="" #newTodo>
          </mat-form-field>
 
          <button type="submit" (click)="addTodo(newTodo); openSnackBar(newTodo.value); " id="btnAdd" mat-raised-button color="primary">Ekle</button>

        </form>


      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12 ">
        <mat-card class="shadow-lg">
          <div class="row">
            <div class="col-md-4">
              <div class="example-container">
                <h5>To do</h5>
             
                <div
                  cdkDropList
                  #todoList="cdkDropList"
                  [cdkDropListData]="data.pendings"
                  [cdkDropListConnectedTo]="[doneList,waitedList]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of data.pendings" cdkDrag>
                  <span>
                    <img class="mr-2" src="assets/svg/processing.svg" alt="" width="20px" height="20px">
                    <span>{{item.todo}}</span>

                  </span>  
                  <div class="button-control">
                    <button mat-icon-button color="warn" (click)="removeTodo(item.id)" aria-label="Example icon button with a heart icon">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                  </div>
                 
                </div>
              
              </div>
            </div>
            <div class="col-md-4">
  
              <div class="example-container">
                <h5>Done</h5>
              
                <div
                  cdkDropList
                  #doneList="cdkDropList"
                  [cdkDropListData]="data.done"
                  [cdkDropListConnectedTo]="[todoList,waitedList]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of data.done" cdkDrag>
                    <span>
                      <img class="mr-2" src="assets/svg/like.svg" alt="" width="20px" height="20px">
                      <span>{{item.todo}}</span>
                    </span> 
                    <div class="button-control">
                      <button mat-icon-button color="warn" (click)="removeTodo(item.id)" aria-label="Example icon button with a heart icon">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="example-container">
                <h5>Waited</h5>
              
                <div
                  cdkDropList
                  #waitedList="cdkDropList"
                  [cdkDropListData]="data.inProgress"
                  [cdkDropListConnectedTo]="[todoList,doneList]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of data.inProgress" cdkDrag>
                    <span>
                      <img class="mr-2" src="assets/svg/hourglass.svg" alt="" width="20px" height="20px">
                      <span>{{item.todo}}</span>
                    </span> 
                    <div class="button-control">
                      <button mat-icon-button color="warn" (click)="removeTodo(item.id)" aria-label="Example icon button with a heart icon">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                     </div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-md-12">
              <h6 class="d-block text-center">Mustafa Yurdakul 2020</h6>
            </div>
          </div>
        
     

        </mat-card>

      </div>
      
    </div>
   
  </div>
</div>